<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/music.css">
</head>
<body>
    <div class="music_list"> 
        <div class="music_card">
            <div class="left">
                <img src="" alt="">
            </div>
            <div class="right">
                <div class="right_top">
                    <div class="title">
                        <p>Title</p>
                    </div>
                    <div class="author">
                        <p>by author</p>
                    </div>
                </div>
                <div class="right_bottom">
                    <div class="play">
                        play
                    </div>
                    <div class="durations">
                        <audio src=""></audio>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/scripts/music_list.js"></script>
</body>
</html>